input{
    margin-bottom: 30px;
    width: 500px;
    height: 50px;
    font-size: 24px;
    padding-left: 1%;
}

input:focus{
    outline-color: rgb(224, 50, 50);
}
button{
    cursor: pointer;
    width: 500px;
    height: 50px;
    background-color: rgb(224, 50, 50);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
p{
    display: inline-block;
}