<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "../template/new.html" %}
    {% block content %}
    <div class="content name">이름 : {{userInfo.name}}</div>
    <div class="content age">나이 : {{userInfo.age}}</div>
    <div class="content email">이메일 : {{userInfo.email}}</div>
    <div class="content my">작성글</div>
    {% endblock %}
</body>
</html>