    {% extends "../template/new.html" %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="./css/user.css">
    <div class="profile">
        <p class="contents_name">이름</p>
        <div class="content name">{{userInfo.name}}</div>
        <p class="contents_name">나이</p>
        <div class="content age">{{userInfo.age}}</div>
        <p class="contents_name">이메일</p>
        <div class="content email">{{userInfo.email}}</div>
    </div>
    <div class="content my">작성글</div>
    {%for board in boards%}
        <div class="board_title">
            <div class="b_contents">{{board.boardNo}}</div>
            <div class="b_contents"><a href="/view">{{board.title}}</a></div>
            <div class="b_contents">{{board.writer}}</div> 
        </div>
    {%endfor%}
    {% endblock %}
