.board_title{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid rgb(224, 50, 50);
    border-bottom: 1px solid rgb(224, 50, 50);
    padding: 5px 0 5px 0;
}
.contents_title{
    display: flex;
    justify-content: space-between;
    padding: 3px 0 3px 0;
    border-bottom: 1px solid lightgray;
}
.b_title{
    font-size: 24px;
    width: 100px;
}
.b_contents_No{
    color: black;
    margin-bottom: 10px;
    width: 100px;
}
.b_contents_title{
    color: black;
    margin: 5px 0 5px 0;
    width: 500px;
}
.b_contents_writer{
    color: black;
    margin-bottom: 10px;
    width: 100px;
}
.b_contents_title > a{
    text-decoration: none;
    color: black;
}
.write > a{
    text-decoration: none;
    color: black;
}