input{
    width: 500px;
    height: 30px;
    border: none;
    border-bottom: 2px solid gray;
    font-weight: bold;
}
input:focus{
    outline: none;
    border-bottom-color: rgb(224, 50, 50);
    transition-duration: .8s;
}
.box{
    margin-bottom: 30px;
}
.repw{
    margin-bottom: 0; 
}
.message{
    margin: 0 0 10px 0;
    color: rgb(224, 50, 50);
    visibility: hidden;
    font-size: 14px;
}
#age::-webkit-outer-spin-button, #age::-webkit-inner-spin-button{
    appearance: none;
}
#id{
    margin-left: 72px;
}
#join_form{
    background-color: rgb(224, 50, 50);
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
}
#join_form{
    outline: none;
}
.join_container{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 30px;
}
#overlap{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(224, 50, 50);
    color: #fff;
    cursor: pointer;
}
#overlap:focus{
    outline: none;
}