<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./write.css">
</head>
<body>
    <div>
        <textarea name="" id="write_title" cols="30" rows="1" maxlength="30" readonly></textarea>
    </div>
    <div>
        <textarea name="" id="write_textarea" cols="30" rows="10" readonly></textarea>    
    </div>
    <a href="/board/modify/"+{{board.boardNo}}>수정</a>
    <button type="button">삭제</button>
</body>
</html>