{% extends "../template/new.html" %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="css/join.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <div class="join_container">
    <form action="/join-confirm" method="POST" onsubmit="return checkAll();">
        <div class="box id">
            <input type="text" name="id" id="id" placeholder="아이디">
            <button id="overlap" type="button">중복확인</button>
        </div>
        <div class="box pw">
            <input type="password" name="pw" id="pw" placeholder="비밀번호">
        </div>
        <div class="box repw">
            <input type="password" name="repw" id="repw" placeholder="비밀번호 재확인">
            <p class="message">비밀번호가 일치하지 않습니다.</p>
        </div>
        <div class="box name">
            <input type="text" name="name" id="name" placeholder="이름">
        </div>
        <div class="box age">
            <input type="number" name="age" id="age" min="0">
        </div>
        <div class="box email">
            <input type="email" name="email" id="email" placeholder="이메일">
        </div>
        <button>회원가입</button>
    </form>
    </div>
<script type="text/javascript" src="js/join.js"></script>
{% endblock %}
