<head>
    <!--something-->
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/new.css">
  </head>
  <body>
    <section class="section">
      <!-- something something....-->
    </section>
    <div class="container">
      <div class="top">
        <div class="menu home"><a href="/">home</a></div>
        <div class="menu board"><a href="/board">board</a></div>
        <div class="menu user"><a href="/user">user</a></div>
        <div class="menu login"><a href="/login">login</a></div>
      </div>
      <div class="contents">
      {% block content %}{% endblock %}
      </div>
    </div>
    <button class='test'>로그인</button>
    <button class='test2'>로그아웃</button>
    <script type="text/javascript" src="/js/new.js"></script>
  </body>