<head>
    <!--something-->
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/new.css">
  </head>
  <body>
    <section class="section">
      <!-- something something....-->
    </section>
    <div class="container">
      <div class="top">
        <div class="menu"><a href="/">home</a></div>
        <div class="menu"><a href="/board">board</a></div>
        <div class="menu"><a href="/user">user</a></div>
        <div class="menu"><a href="/login">login</a></div>
      </div>
      <div class="contents">
      {% block content %}{% endblock %}
      </div>
    </div>
    
  </body>